.background{
	background-image: url(../images/bg2.jpg);
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.nav{
	text-align: center;
	font-family: Times New Roman;
	font-size: 60px;
	background-color: black;
}
.index{
	background-color: transparent;
	color: black;
}
a{
	color: white;
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
	margin: 0.5%;
}
a.active, .nav a:hover{
	background-color:transparent;
	color: green;
	width: 100%;
}
h1{
	color: white;
	text-align: center;
	font-size: 100px;
	margin-top: 10px;
	font-family: Times New Roman;
	width: 100%;

}

.title{
	text-align: center;
	font-family: curlz mt;
	font-size: 70px;
	color: black;
	margin-top: -1px;
	text-decoration: underline;
}

